[report]
exclude_lines =
    pragma: no cover
    except SQLAlchemyError as e:
    def __repr__

[run]
omit =
    venv/**/*
    db/**/*
    coverage/**/*
    rest/tests/**/*
    rest/.env
    rest/__init__.py
    rest/Dockerfile
    rest/Dockerfile_prod
    rest/requirements.txt
    rest/run.py
    .gitignore
    docker-compose.yml
    LICENSE.md
    README.md
